.logo {
    height: 50px;
    width: 50px;
}

.navbar-design li{
    margin-right: 10px;
    padding: 1px 5px;
    border-radius: 5px;
    transition: .4s ease;
    font-weight: bold;
}
.navbar-design li:hover {
    background-color: aliceblue;
    border-radius: 5px;
}
.navbar-design li a.active:hover,
.navbar-design li a:hover {
    color: rgb(0, 109, 49) !important;
}
.footer-li-width{
    width: 250px;
}
.slider-img {
    height: 450px;
}
.text-justify {
    text-align: justify !important;
}
.animated-border {
    position: relative;
}
.animated-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid transparent;
    background:
        linear-gradient(90deg, #198754, #198754) top left / 0 2px no-repeat,
        linear-gradient(90deg, #198754, #198754) bottom right / 0 2px no-repeat,
        linear-gradient(180deg, #198754, #198754) top right / 2px 0 no-repeat,
        linear-gradient(180deg, #198754, #198754) bottom left / 2px 0 no-repeat;
    transition: all 1.5s ease;
}
.animated-border:hover::before {
    background-size:
        100% 2px,
        100% 2px,
        2px 100%,
        2px 100%;
}
.card {
    transition: .5s ease;
}
.card:hover {
    border: 1px solid green;
    transform: translateY(-8px);
}
.bnr-img {
    height: 350px;
}
.bnr-title {
    z-index: 2;
}
.bnr-parent::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
